---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "nov. 2023 - abr. 2024",
    title: "Becario",
    company: "Soltel Group",
    description: "Formación dado por la empresa Soltel, financiado por FUNDAE, tiene una duración de 6 meses. Durante la formación se a echo proyectos inspirados en los proyectos en curso de la empresa que tenia en ese momento con el propósito de hacer proyectos reales con los que trabaja la empresa para así aprender las tecnologías dadas.",
    link: "https://shre.ink/8b0q",
  },
  {
    date: "mar. 2023 - jun. 2023",
    title: "Estudiante en prácticas",
    company: "Ayesa",
    description:
      "Formé parte de un equipo de desarrollo compuesto por 4 personas, incluido mi supervisor, quien siempre estaba dispuesto a ayudarme a adaptarme al entorno laboral. Durante ese tiempo, trabajé en un proyecto para La Rioja, cuyo objetivo era replicar la página web de la Junta de Andalucía, pero adaptada específicamente para La Rioja.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
