---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "sept. 2024 - sept. 2025",
    title: "Programador Full Stack",
    company: "Soltel Group",
    description: `
Formé parte del equipo de desarrollo del proyecto Aktive, una aplicación web para la gestión integral de gimnasios. Participé como desarrollador backend y frontend en la creación de la nueva versión del sitio web, logrando mejoras en seguridad, eficiencia y funcionalidad. Si quieres ver la nueva versión, puedes hacerlo en el enlace de saber más.

**Funciones principales:**

- **Migración automatizada de bases de datos:** Diseño de scripts para mapear estructuras antiguas en formato JSON y realizar la migración a nuevos esquemas relacionales.
- **Desarrollo de módulos clave:** Implementación del módulo CRM, sistema de reservas, panel de administración y gestión de entidades.
- **Refactorización de código:** Mejora de legibilidad, reutilización y mantenimiento del código, aplicando buenas prácticas con Vue.js y Laravel.
- **Gestión de usuarios y autenticación:** Uso de Laravel Fortify y Jetstream.
- **Notificaciones y comunicación:** Envío de correos con Laravel Mail.
- **Generación de documentos PDF:** Creación dinámica de archivos PDF desde vistas Blade para reportes, facturas y documentación interna.
- **API RESTful:** Diseño y mantenimiento de endpoints para consumo interno y externo.
- **Documentación técnica:** Redacción de documentación funcional en Markdown y TXT.
- **Implementación de CRUD completos:** Desarrollo de interfaces y lógica para crear, leer, actualizar y eliminar datos en múltiples módulos de la aplicación, garantizando eficiencia y escalabilidad.

**Aptitudes trabajadas:**

- **Backend:** PHP (Laravel v11), Composer
- **Frontend:** Vue.js (v3.5), JavaScript, TypeScript, Vite, Tailwind CSS, HTML5, CSS3, PrimeVue
- **Base de datos:** MySQL/MariaDB, migraciones y seeders
- **DevOps:** Git, Shell scripts, PowerShell, archivos de configuración (.env, .babelrc, .editorconfig)
- **PDF:** Generación de documentos con librerías como DomPDF o Snappy integradas en Laravel

Esta es la antigua página: [Ver proyecto](https://web.aktive.cloud/land/login)
    `,
    link: "https://dev.aktive.cloud",
  },

    {
  date: "nov. 2023 - abr. 2024",
  title: "Contrato de formación",
  company: "SOLTEL Group ",
  description: `
Formación impartida por la empresa Soltel y financiada por FUNDAE, con una duración de 6 meses. Durante este periodo, se realizaron proyectos inspirados en las necesidades reales de la empresa, permitiendo aplicar los conocimientos adquiridos en un entorno profesional.

**Tecnologías y contenidos aprendidos:**

- **Backend:** Java (Spring Boot), PHP 8, Symfony 6, Python (PyCharm)
- **Frontend:** Angular 16, HTML5, CSS, Bootstrap, JavaScript, JQuery, TypeScript
- **Bases de datos:** MySQL 8, MariaDB, MongoDB, MySQL Workbench
- **CMS:** WordPress, PrestaShop
- **Control de versiones:** GIT
- **Documentación:** MarkDown

Esta formación ha permitido adquirir una visión global y práctica de las tecnologías más demandadas en el sector IT, trabajando tanto en el desarrollo backend como frontend, gestión de bases de datos y control de versiones.
  `,
},
  {
  date: "mar. 2023 - jun. 2023",
  title: "Estudiante en prácticas (FCT)",
  company: "Ayesa",
  description: `
Formación en centros de trabajo como parte del currículum de FP de Grado Superior en Desarrollo de Aplicaciones Web.

Formé parte de un equipo de desarrollo trabajando en un proyecto para La Rioja, cuyo objetivo era replicar la página web de la Junta de Andalucía, pero adaptada específicamente para La Rioja. Me asignaron tareas tanto en frontend como en backend, donde creé nuevas funcionalidades y modifiqué otras existentes para solucionar errores (bugs). Además, aprendí a implementar CVS para la gestión del control de versiones.

Durante mi tiempo en Ayesa, aprendí muchísimo de mis compañeros y fue una experiencia muy enriquecedora. Mejoré especialmente en la metodología ágil SCRUM para ser más eficiente, trabajé en la calidad de mi código y desarrollé habilidades de trabajo en equipo y gestión del tiempo. También mejoré mi capacidad para explicar conceptos técnicos de manera clara.

**Aptitudes trabajadas:**

- **Frontend y Backend:** JavaServer Pages (JSP), Java (v8), JavaScript
- **Bases de datos:** PL/SQL, SQL Developer, Oracle
- **Herramientas:** CVS, JSON
- **Metodologías:** SCRUM, trabajo en equipo, gestión del tiempo, comunicación técnica
  `,
},
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
